.container {
  overflow: scroll;
  margin-top: 52px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera*/
.container::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 52px;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.temp {
  height: 50px;
}

.for_you {
  margin: 50px 0 15px 25px;
}

.for_you_text {
  font-family: Poppins;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #111111;
}

.hot_place {
  margin: 50px 0 15px 25px;
}

.hot_place_text {
  font-family: Poppins;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #111111;
}

.hot_place_sub {
  font-family: ONEMobileBold;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #111111;
  margin-top: 15px;
}

.suwon_now {
  margin: 20px 0 0 0;
  padding: 50px 20px;
  background-color: #1b1b1b;
}
